# This is Git's per-user configuration file.
[user]
    email = corbin.albert@gmail.com
    name = Corbin Albert

[core]
    excludesfile = /Users/corbin/.gitignore_global

[alias]
    graph = log --all --graph --decorate --oneline
    ai = add -p
    st = status -sb
    co = checkout
    cob = checkout -b

[merge]
    defaultToUpstream = true
    tool = vimdiff
[diff]
    tool = vimdiff
