[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/.vim/pack/vendor/start/vim-fugitive"]
	path = vim/.vim/pack/vendor/start/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "vim/.vim/pack/vendor/start/gruvbox"]
	path = vim/.vim/pack/vendor/start/gruvbox
	url = https://github.com/morhetz/gruvbox.git
[submodule "vim/.vim/pack/vendor/start/commentary"]
	path = vim/.vim/pack/vendor/start/commentary
	url = https://tpope.io/vim/commentary.git
[submodule "vim/.vim/pack/vendor/start/surround"]
	path = vim/.vim/pack/vendor/start/surround
	url = https://tpope.io/vim/surround.git
