[submodule "vim/.vim/pack/vendor/start/ctrlp.vim"]
	path = vim/.vim/pack/vendor/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule "vim/.vim/pack/vendor/start/jedi-vim"]
	path = vim/.vim/pack/vendor/start/jedi-vim
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/.vim/pack/vendor/start/nerdtree"]
	path = vim/.vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "zsh/.oh-my-zsh"]
	path = zsh/.oh-my-zsh
	url = https://github.com/ohmyzsh/ohmyzsh.git
[submodule "vim/.vim/pack/vendor/start/fugitive"]
	path = vim/.vim/pack/vendor/start/fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/.vim/pack/vendor/start/vim-flake8"]
	path = vim/.vim/pack/vendor/start/vim-flake8
	url = https://github.com/nvie/vim-flake8.git
[submodule "vim/.vim/pack/vendor/start/YouCompleteMe"]
	path = vim/.vim/pack/vendor/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
